extends ../layout

block content
    .container.py-2
        .row     
            .col-12.py-2
                h2= title        
            .col-12.py-2
                table.table
                    thead
                        tr
                            th(scope='col') #                            
                            th(scope='col') Periodo
                            th(scope='col') Fecha Creación
                            th(scope='col')
                    tbody
                        -for(let i= 0; i < periods.length; i++)
                            tr
                                th(scope='row')=periods[i].id                                
                                td=periods[i].period
                                td=periods[i].created_at.toLocaleString()
                                td 
                                    a.bi.bi-list-task.mx-2(href="/period/subject/" + periods[i].id, style="text-decoration: none;")                                    
                                    

            .col-12.py-2
                a.btn.btn-primary(href="/period/new") Nuevo Periodo 